#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 25%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.backgroundImg {
  background-image: url('./img/background.jpg')
}

.imgPortfiolio {
  filter: grayscale(72%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .cusContainer{
        padding : 15px 15px 15px 15px!important;
    }
}

.cusContainer{
  padding : 40px 15px 40px 15px;
}


/* Transition CSS */


